@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 249, 245; /* Bone */
  --background-start-rgb: 18, 18, 18; /* Graphite */
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
